.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.custom-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.todo-item {
  display: flex;
  background-color: azure;
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.list-of-todos {
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.todo-actions {
  display: flex;
  gap: 10px;
}